 <link rel="stylesheet" href="/assets/css/login.css">
    {% include 'partials/header.twig' %}
<div id="main-site">
<div class="page-register">
    <div class="form-register">


  


         <div ><a href="{{ authUri is defined ? authUri : '#' }}"><img id="img-icon" src="/assets/image/icon-google.png" alt=""> <small>Faça Cadastro com google</small></a></div>
        <form action="/cadastro" method="post">
            <label for="">Nome:</label>
            <input type="text" name="name-register">
            <label for="">Email</label>
            <input type="email" name="email-register">
            <label for="">Senha:</label>
            <input type="password" name="password-register">
            <input  id="btn-register-send" type="submit" value="Cadastrar">
        </form>
    </div>
</div>
<script>
   
</script>
</div>