<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{nome}}</title>
</head>
<body>
{% include 'partials/header.twig' %}
    <h1>Bem-vindo, {{ nome }}!</h1>


    <script src="https://accounts.google.com/gsi/client" async></script>
       <div id="g_id_onload"
    data-client_id="1015035594977-v1krn6df49kolh870dvdgocopasocgua.apps.googleusercontent.com"
    data-login_uri="https://accounts.google.com/o/oauth2/auth"
    data-auto_prompt="true">
</div>

<div class="g_id_signin"
    data-type="standard"
    data-size="large"
    data-theme="outline"
    data-text="sign_in_with"
    data-shape="rectangular"
    data-logo_alignment="left">
</div>
</body>
</html>
