@import url(/assets/css/pattern.css);

.page-contabilidade{
padding-left: 20px;    
}

.table-box
{
   
    margin: 50px auto;
}
.create-inputs{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding-right: 138px;
   padding-left: 138px;
}

.inputs-pattern input{
    outline: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
  border: 1px solid var(--cor-gray);
}

.btn-dado{
    display: flex;
    justify-content: flex-end;
    padding-right: 138px;
}

.btn-dado button{
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background: var(--cor-blue);
    color: #fff;
    border: none;
}

.inputs-pattern button{
  border-radius: 5px;
  border: 1px solid var(--cor-blue);
  padding: 10px;
  color: var(--cor-blue);
  cursor: pointer;
}
.btn-del{
    border: none;
}
.table-row{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: sans-serif;
    background: transparent;
    padding: 12px 0;
    color: #555;
    font-size: 13px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
}
.table-head{
    background:var(--cor-blue);
   /* background: #8665f7;*/
    box-shadow: none;
    color: #fff;
    font-weight: 600;
}
.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}
.first-cell{
    text-align: left;
    padding-left: 10px;
}




.last-cell{
    border-right: none;
}

.btn-crud button{
   
 border-radius: 5px;
 outline: none;
 font-size: 14px;
 color: var(--cor-blue);
 border: 1px var(--cor-blue) solid;
}

.btn-crud button:hover{
    cursor: pointer;
    color: #fff;
    transition: 0.6s;
background-color: var(--cor-blue);
}

.date-table p{
    text-decoration: none;
    color: #555;
}

@media only screen and (max-width: 600px) {
  .table-row {
    font-size: 11px;
  }
}






.contabilidade{
display: flex;
align-items: center;
justify-content: space-between;
padding-right: 30px;

}
#create-new-ct{
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: var(--cor-blue);
    border: 1px solid var(--cor-blue);
}



/*Form contabilidade*/

.page-form-contabilidade{
    padding-left: 20px;
}